<span id="sondage_non"></span>
<div id="contact-area">
  		<form action="javascript:query()">
				<label for="query">Your<font color="#FFFFFF">.</font>query (# / @ / key-word):</label>
				<input type="text" name="query" id="query" size="20" />
				
				
				
				
        <br>  <label for="lang">Whitch langage?</label><br><br>
                
         
        <select size="1" id="lang" name="lang">
          <option data-lang='fr'>French</option>
          <option data-lang='en'>English</option>
          <option data-lang='de'>German</option>
          <option data-lang='it'>Italian</option>
          <option data-lang='es'>Spanish</option>
          
           <option data-lang='ab'>Abkhaz</option>
<option data-lang='aa'>Afar</option>
<option data-lang='af'>Afrikaans</option>
<option data-lang='ak'>Akan</option>
<option data-lang='sq'>Albanian</option>
<option data-lang='am'>Amharic</option>
<option data-lang='ar'>Arabic</option>
<option data-lang='an'>Aragonese</option>
<option data-lang='hy'>Armenian</option>
<option data-lang='as'>Assamese</option>
<option data-lang='av'>Avaric</option>
<option data-lang='ae'>Avestan</option>
<option data-lang='ay'>Aymara</option>
<option data-lang='az'>Azerbaijani</option>
<option data-lang='bm'>Bambara</option>
<option data-lang='ba'>Bashkir</option>
<option data-lang='eu'>Basque</option>
<option data-lang='be'>Belarusian</option>
<option data-lang='bn'>Bengali, Bangla</option>
<option data-lang='bh'>Bihari</option>
<option data-lang='bi'>Bislama</option>
<option data-lang='bs'>Bosnian</option>
<option data-lang='br'>Breton</option>
<option data-lang='bg'>Bulgarian</option>
<option data-lang='my'>Burmese</option>
<option data-lang='ca'>Catalan</option>
<option data-lang='ch'>Chamorro</option>
<option data-lang='ce'>Chechen</option>
<option data-lang='ny'>Chichewa, Chewa, Nyanja</option>
<option data-lang='zh'>Chinese</option>
<option data-lang='cv'>Chuvash</option>
<option data-lang='kw'>Cornish</option>
<option data-lang='co'>Corsican</option>
<option data-lang='cr'>Cree</option>
<option data-lang='hr'>Croatian</option>
<option data-lang='cs'>Czech</option>
<option data-lang='da'>Danish</option>
<option data-lang='dv'>Divehi, Dhivehi, Maldivian</option>
<option data-lang='nl'>Dutch</option>
<option data-lang='dz'>Dzongkha</option>
<option data-lang='eo'>Esperanto</option>
<option data-lang='et'>Estonian</option>
<option data-lang='ee'>Ewe</option>
<option data-lang='fo'>Faroese</option>
<option data-lang='fj'>Fijian</option>
<option data-lang='fi'>Finnish</option>
<option data-lang='ff'>Fula, Fulah, Pulaar, Pular</option>
<option data-lang='gl'>Galician</option>
<option data-lang='ka'>Georgian</option>
<option data-lang='el'>Greek (modern)</option>
<option data-lang='gn'>Guaraní</option>
<option data-lang='gu'>Gujarati</option>
<option data-lang='ht'>Haitian, Haitian Creole</option>
<option data-lang='ha'>Hausa</option>
<option data-lang='he'>Hebrew (modern)</option>
<option data-lang='hz'>Herero</option>
<option data-lang='hi'>Hindi</option>
<option data-lang='ho'>Hiri Motu</option>
<option data-lang='hu'>Hungarian</option>
<option data-lang='ia'>Interlingua</option>
<option data-lang='id'>Indonesian</option>
<option data-lang='ie'>Interlingue</option>
<option data-lang='ga'>Irish</option>
<option data-lang='ig'>Igbo</option>
<option data-lang='ik'>Inupiaq</option>
<option data-lang='io'>Ido</option>
<option data-lang='is'>Icelandic</option>
<option data-lang='iu'>Inuktitut</option>
<option data-lang='ja'>Japanese</option>
<option data-lang='jv'>Javanese</option>
<option data-lang='kl'>Kalaallisut, Greenlandic</option>
<option data-lang='kn'>Kannada</option>
<option data-lang='kr'>Kanuri</option>
<option data-lang='ks'>Kashmiri</option>
<option data-lang='kk'>Kazakh</option>
<option data-lang='km'>Khmer</option>
<option data-lang='ki'>Kikuyu, Gikuyu</option>
<option data-lang='rw'>Kinyarwanda</option>
<option data-lang='ky'>Kyrgyz</option>
<option data-lang='kv'>Komi</option>
<option data-lang='kg'>Kongo</option>
<option data-lang='ko'>Korean</option>
<option data-lang='ku'>Kurdish</option>
<option data-lang='kj'>Kwanyama, Kuanyama</option>
<option data-lang='la'>Latin</option>
<option data-lang='lb'>Luxembourgish, Letzeburgesch</option>
<option data-lang='lg'>Ganda</option>
<option data-lang='li'>Limburgish, Limburgan, Limburger</option>
<option data-lang='ln'>Lingala</option>
<option data-lang='lo'>Lao</option>
<option data-lang='lt'>Lithuanian</option>
<option data-lang='lu'>Luba-Katanga</option>
<option data-lang='lv'>Latvian</option>
<option data-lang='gv'>Manx</option>
<option data-lang='mk'>Macedonian</option>
<option data-lang='mg'>Malagasy</option>
<option data-lang='ms'>Malay</option>
<option data-lang='ml'>Malayalam</option>
<option data-lang='mt'>Maltese</option>
<option data-lang='mi'>Māori</option>
<option data-lang='mr'>Marathi (Marāṭhī)</option>
<option data-lang='mh'>Marshallese</option>
<option data-lang='mn'>Mongolian</option>
<option data-lang='na'>Nauruan</option>
<option data-lang='nv'>Navajo, Navaho</option>
<option data-lang='nd'>Northern Ndebele</option>
<option data-lang='ne'>Nepali</option>
<option data-lang='ng'>Ndonga</option>
<option data-lang='nb'>Norwegian Bokmål</option>
<option data-lang='nn'>Norwegian Nynorsk</option>
<option data-lang='no'>Norwegian</option>
<option data-lang='ii'>Nuosu</option>
<option data-lang='nr'>Southern Ndebele</option>
<option data-lang='oc'>Occitan</option>
<option data-lang='oj'>Ojibwe, Ojibwa</option>
<option data-lang='cu'>Old Church Slavonic, Church Slavonic, Old Bulgarian</option>
<option data-lang='om'>Oromo</option>
<option data-lang='or'>Oriya</option>
<option data-lang='os'>Ossetian, Ossetic</option>
<option data-lang='pa'>Eastern Punjabi, Eastern Panjabi</option>
<option data-lang='pi'>Pāli</option>
<option data-lang='fa'>Persian (Farsi)</option>
<option data-lang='pl'>Polish</option>
<option data-lang='ps'>Pashto, Pushto</option>
<option data-lang='pt'>Portuguese</option>
<option data-lang='qu'>Quechua</option>
<option data-lang='rm'>Romansh</option>
<option data-lang='rn'>Kirundi</option>
<option data-lang='ro'>Romanian</option>
<option data-lang='ru'>Russian</option>
<option data-lang='sa'>Sanskrit (Saṁskṛta)</option>
<option data-lang='sc'>Sardinian</option>
<option data-lang='sd'>Sindhi</option>
<option data-lang='se'>Northern Sami</option>
<option data-lang='sm'>Samoan</option>
<option data-lang='sg'>Sango</option>
<option data-lang='sr'>Serbian</option>
<option data-lang='gd'>Scottish Gaelic, Gaelic</option>
<option data-lang='sn'>Shona</option>
<option data-lang='si'>Sinhalese, Sinhala</option>
<option data-lang='sk'>Slovak</option>
<option data-lang='sl'>Slovene</option>
<option data-lang='so'>Somali</option>
<option data-lang='st'>Southern Sotho</option>
<option data-lang='su'>Sundanese</option>
<option data-lang='sw'>Swahili</option>
<option data-lang='ss'>Swati</option>
<option data-lang='sv'>Swedish</option>
<option data-lang='ta'>Tamil</option>
<option data-lang='te'>Telugu</option>
<option data-lang='tg'>Tajik</option>
<option data-lang='th'>Thai</option>
<option data-lang='ti'>Tigrinya</option>
<option data-lang='bo'>Tibetan Standard, Tibetan, Central</option>
<option data-lang='tk'>Turkmen</option>
<option data-lang='tl'>Tagalog</option>
<option data-lang='tn'>Tswana</option>
<option data-lang='to'>Tonga (Tonga Islands)</option>
<option data-lang='tr'>Turkish</option>
<option data-lang='ts'>Tsonga</option>
<option data-lang='tt'>Tatar</option>
<option data-lang='tw'>Twi</option>
<option data-lang='ty'>Tahitian</option>
<option data-lang='ug'>Uyghur</option>
<option data-lang='uk'>Ukrainian</option>
<option data-lang='ur'>Urdu</option>
<option data-lang='uz'>Uzbek</option>
<option data-lang='ve'>Venda</option>
<option data-lang='vi'>Vietnamese</option>
<option data-lang='vo'>Volapük</option>
<option data-lang='wa'>Walloon</option>
<option data-lang='cy'>Welsh</option>
<option data-lang='wo'>Wolof</option>
<option data-lang='fy'>Western Frisian</option>
<option data-lang='xh'>Xhosa</option>
<option data-lang='yi'>Yiddish</option>
<option data-lang='yo'>Yoruba</option>
<option data-lang='za'>Zhuang, Chuang</option>
<option data-lang='zu'>Zulu</option>


        </select>&nbsp;&nbsp;&nbsp;&nbsp;
		<br><br>
		<label for="city">Enter<font color="#FFFFFF">.</font>a<font color="#FFFFFF">.</font>city:</label><br><br />
		<input onKeyUp="javascript:$('#button').css('display','block');" type="text" name="city" id="city" size="20" />
                
		<div id="button" onclick="geocode();">Valid city</div> <br><br>
		<div id="valid_city" style="display:none;"><img src="assets/ajax-loader.gif" /></div>
		<span id="valid_city_ok"></span><br>
		
		 <br>  <label for="result_type">Sort by popular / recent or mixed?</label><br><br>
            
        <select size="1" id="result_type" name="result_type">
            <option data-type="recent">Recent</option>
            <option data-type="popular">Popular</option>
            <option data-type="mixed">Mixed</option>
        </select>
        <br><br>
		<br>  <label for="until">Tweet before (7 day history limit)</label><br><br>
		<input placeholder="YYYY-MM-DD" type="text" id="until" name="until"/> 
		

				<input type="submit" name="submit" value="Submit" class="submit-button" />
        </form>
        <div id="container">
        </div>
    <div id="pacman"><img  src="assets/ajax-loader.gif" /></div>
               
          
</div>